.footer {
  text-align: center;
  padding: 60px;
  background-color: #2c2b2b;

}

.footer-links a {
  font-size: 30px;
  color: #1EDD88;
}

.footer-copyright{
  color: #6B6C6C;
}

.footer-copyright i {
  color: red;
}
